<mat-nav-list>
  <div class="profile-card">
    <!-- <div class="header"></div> -->
    <img
     
      src="https://img.freepik.com/premium-vector/avatar-profile-icon_188544-4755.jpg?w=740" alt="image"
    />
  </div>

  <div>
    <h2 mat-subheader>Pages</h2>
    <mat-divider></mat-divider>

     <a  mat-list-item routerLinkActive="list-item-active" routerLink="/"
      ><mat-icon class="white-icon">dashboard</mat-icon>Dashboard</a
    >
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products"
      ><mat-icon class="white-icon">dashboard</mat-icon>Products</a
    >
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/categories"
      ><mat-icon class="white-icon">dashboard</mat-icon>Categories</a
    >

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/purchases"
      ><mat-icon class="white-icon">dashboard</mat-icon>Purchases</a
    >

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/departments"
      ><mat-icon class="white-icon">dashboard</mat-icon>Departments</a
    >
  </div>
  <mat-divider></mat-divider>
  
</mat-nav-list>
