:host {
    .mat-icon{
        vertical-align: middle;
        margin-right: 5px;
        color: blue;
    }
}

.profile-card{
    text-align: center;
    padding: 5px 10px 10px 10px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}
// .white-icon {
//     color: blue;
// }
