:host {
    .mat-icon{
        vertical-align: middle;
        margin-right: 5px;
    }
}

.profile-card{
    text-align: left;
    padding:0 10px 20px 10px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.white-icon {
    color: blue;
}