.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

table {
    width: 100%;
    
  }
  
  .mat-mdc-form-field {
    
    font-size: 14px;
    width: 10%;
    
  }
  
  // td, th {
  //   width: 22%;
  // }
  .action {
    display: flex;
    gap: 5px;
  }.example-spacer {
    flex: 1 1 auto;
  }
  
.addbutton{
  text-align: right;
}